<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Editing User</h1>

    <%= form_for(@user) do |f| %>
    <%= render partial: "layouts/shared/error", locals: {instance: @user} %>

      <div class="field row">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "col-xs-12 name" %>
      </div>
      <div class="field row">
        <%= f.label :my_image, "Image" %>
        <%= f.attachment_field :my_image, class: "col-xs-12 user_image" %>
      </div>
      <div class="field row">
        <%= f.label :introduction, "Introduction" %>
        <%= f.text_area :introduction, class: "col-xs-12 introduction" %>
      </div>
      <div class="actions row">
        <%= f.submit "Update user", class: "btn btn-primary col-xs-12" %>
      </div>
    <% end %>
		<%= link_to "Back", :back, class: "back" %>
    </div>
    <div class="col-md-3"></div>
</div>